body {
  font-family: sans-serif;
  margin: 20px;
}

body,
input,
select,
textarea,
button {
  font-family: "Roboto", sans-serif;
}

.form_wrapper {
  width: 100%;
  max-width: 1024px;
  min-width: 280px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* background-color: #f9f9f9; */
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"],
select,
textarea,
input[type="file"] {
  width: calc(100% - 12px);
  padding: 15px 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  outline: none;
  text-rendering: optimizeLegibility;
}

input[type="checkbox"] {
  margin-right: 5px;
}

input[type="text"],
input[type="date"],
input[type="tel"],
textarea,
input[type="email"] {
  border: none;
  border-bottom: 2px solid #ccc;
  background: rgba(153, 153, 245, 0.059);
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="tel"]:focus,
textarea:focus,
input[type="email"]:focus {
  border-color: #0800fe;
}

.required::after {
  content: "*";
  color: red;
}

#camera-preview {
  display: none;
  max-width: 300px;
  margin-top: 10px;
}
#camera-button {
  margin-top: 10px;
}

#error-message {
  color: red;
}

.lang_wrapper {
  display: flex;
  flex-direction: column;
}

.lang {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrp {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.wrp input[type="checkbox"] {
  accent-color: #fe0000;
  transform: scale(1.3);
  margin-top: -2px;
}

.potrait_view {
  width: 200px;
  height: 250px;

  color: #fff;
}

.potrait_view .view {
  height: 215px;
  background: rgba(153, 153, 245, 0.059);
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 0 10px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.potrait_view .view img {
  object-fit: contain;
}

.pf {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 12px;
}

.wrppf {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flex_d {
  display: flex;
  align-items: center;
  width: 100%;
  /* background: pink; */
}

.col-3 {
  width: 33.33%;
}

@media (max-width: 768px) {
  .col-3 {
    width: 100%;
  }

  .flex_d {
    flex-direction: column;
  }
}
